---
apiVersion: v1
kind: Secret
metadata:
  name: csi-cephfs-secret
type: Opaque
stringData:
  # Encrypted values using SOPS
  adminID: "#{bootstrap_ceph.cephFS.adminID}#"
  adminKey: "#{bootstrap_ceph.cephFS.adminKey}#"
  userID: "#{bootstrap_ceph.cephFS.userID}#"
  userKey: "#{bootstrap_ceph.cephFS.userKey}#"